@import "./../../common/variables";

.header-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-top {
    height: 100px;
    padding: 1.625rem 1.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &-links {
      cursor: pointer;
      display: flex;
      gap: 1rem;

      @include font-styles($font-map: $pc-font, $font-key: body-3);
      color: get-color(font-03-gray);
    }
  }
}
