@import "./../../common/variables";

.search-form {
  width: 32.25rem;
  height: 3rem;
  padding: 0.875rem;
  border: 1px solid color-styles(line-regular-color);
  border-radius: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 0.75rem;

  .search-select {
    width: 4.25rem;
    height: 2.625rem;
    border: none;
    text-align: center;

    &-options {
      @include font-styles(
        $font-map: $pc-korean-font,
        $style-key: button-2,
        $font-weight: font-medium,
        $letter-spacing: $letter-spacing
      );
      color: color-styles(font-02-black);
    }
  }

  .search-input {
    width: 21.75rem;
    border: none;
    @include font-styles(
      $font-map: $pc-korean-font,
      $style-key: body-3,
      $font-weight: font-regular,
      $letter-spacing: $letter-spacing
    );
    color: color-styles(font-04-gray);
  }

  .search-select:focus,
  .search-input:focus {
    outline: none;
  }

  .search-btn {
    background: none;
    border: none;
    cursor: pointer;
  }
}
