.menu-warp {
  width: 100%;
  height: 630px;
  background-color: white;
  z-index: 1;
  position: absolute;
  top: 6.2em;
}

.category-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}
