@import "./variables";

// .sign-input {
//   border: 2px solid map-get($colors, input-border-none);
//   border-radius: 8px;
//   width: 100%;
//   height: 70%;
// }
.sign-content {
  width: 30rem;
  height: 5rem;

  &-title {
    display: inline-block;
  }

  &-input {
    border: 2px solid map-get($colors, input-border-none);
    border-radius: 8px;
    width: 100%;
    height: 50%;
  }
}
