:root {
  --max-width: 1920px
  --max-height: 2330px
  --side-margin: 320px
}

.layout-wrap {
  width: 100vw;
  height: 100vh;
  max-width: var(--max-width);
  max-height: var(--max-height);
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  &-header {
    width: 100%; 
    height: 156px; 
    max-height: 156px;
    padding: 0 calc((320 / 1920) * 100vw); 
  }

  &-footer {
    width: 100%;
  }
}
