//1200px미만일 경우 실행
// .main {
//   box-sizing: border-box;
//   min-width: 1700px;
// }

body {
  box-sizing: border-box;
  max-width: 1920px;
  display: flex;
  justify-content: center;
}

.main {
  width: 100%;
}

.main-pang {
  max-width: 1600px;
  width: 100%;

  margin: 50px auto;
  position: relative;
}
