@import "@./../../../common/variables";

.main-carousel-container {
  display: flex;
  align-items: center;

  .main-carousel-first {
    display: flex;
    align-items: center;
    gap: 24px;

    .main-carousel-first-info {
      width: 505px;
      height: 167px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .first-info-title,
      .first-info-description {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .first-info-title {
        @include font-styles(
          $font-map: $pc-korean-font,
          $style-key: title-3,
          $font-weight: font-bold,
          $letter-spacing: $letter-spacing
        );
        color: color-styles(system-blue-300);
      }

      .first-info-publisher {
        font-size: 15px;
        font-weight: bold;
        color: #505050;
      }

      .discount-rate {
        font-size: 15px;
        color: #fce15c;
      }

      .first-info-price {
        font-size: 17px;
        font-weight: bold;
      }

      .first-info-description {
        font-size: 16px;
        color: #505050;
      }
    }
  }

  .main-carousel-list {
    width: 704px;
    height: 215px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    .main-carousel {
      width: 145px;

      .main-carousel-info {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .carousel-btn {
  }
}
